alabaster==0.7.12


appdirs==1.4.4
applaunchservices==0.2.1



beautifulsoup4==4.9.1

click==7.1.2


Flask==1.1.2



h5py==2.10.0
HeapDict==1.0.1

Jinja2==2.11.2

json5==0.9.5

jupyter==1.0.0








notebook==6.0.3
numba==0.50.1
numexpr==2.7.1



pandas==1.0.5



plotly==4.14.1




python-dateutil==2.8.1
python==3.8.3


requests==2.24.0

scikit-image==0.16.2
scikit-learn==0.23.1
scipy==1.5.0
seaborn==0.10.1



webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1

wurlitzer 